## About This Notebook

Probably the most useful concept within programming is that of **variables**. We will therefore focus on variables within this notebook. We will begin by exploring why we need them and how are they created. Later on, we will move onto **data types**. These mean that variables can be of different type depending on what they store.

Alongside, we will learn some useful tricks, such as *conversion* betweeen data types.
***

## 1. Saving Values
We have learned the basics of Python programming and performed a couple of arithmetical operations in Python. However, how do we actually save values and work with numerical and text data? For example, if we want to save the result of an arithmetical operation for a different execution. Let's say `(20-10)*2 = 20`, and we want to save 20 as our result. We can therefore write:

In [1]:
result = 20

If we print the result, the output is: 20

In [2]:
result = 20
print(result)

20

We can also directly save (20-10)*2 instead of saving 20:

In [3]:
result = (20-10)*2
print(result)

20

Pay attention that, when we print(result), the output is the value of calculation and not `(20-10) * 2`. **The computer first calculates (20-10) * 2 and then saves the result 20 to variable name "result".**

### Task 1.2.1:
1. Save the result of (50 + 6)*32 to the variable name `result`.
2. Print result.

In [4]:
# Start your code below:

result = (50 + 6)*32

print(result)

1792

## 2. Variables
When we run the code result = 20, the value 20 is saved in the computer memory. The computer memory has many storage locations, and the value 20 is saved to one particular location.

The value we just saved, which is 20, has a unique identifier in the storage location which we can use it to access 20. We can use the identifier *result* to access 20 in our program. For example:

In [5]:
result = 20
print(result)
print(result * 2)
print(result + 1)

20
40
21

This unique identifier is commonly known as a **variable**. 
*result = 20* ran after we hit the Run button, the computer stored 20 in a variable or a storage location named *result* based on our command --- therefore "result" is a **variable name**.
Notice that the order of the variable naming is very important. The variable name is to the left of the = sign and the value we want to store to this variable name is located to the right.
Therefore if we want to store the value 20 to a variable named result, result = 20 must be written and not 20 = result.

Now let's do some practice declaring some variable names.

### Task 1.2.2:
1. Store the value 10 in a variable named some_value.
2. Store the result of (38+6-2)*23 to a variable named some_result.
3. Use the `print()` command to display the following:
  * The value stored in the some_value variable.
  * The result of adding 8 to the variable some_result.
  * The result of adding some_value to some_result.

In [6]:
# Start your code below:

some_value = 10
some_result = (38+6-2)*23
print(some_value)
print(some_result + 8)
print(some_value + some_result)

10
974
976

## 3. Variable Names
In the previous task, we have declared some variable names. We also learned that we can choose names for our variables. However, the names we choose must comply with a number of syntax rules. For example, if we try to name a variable `a result`, a syntax error will occur because we're not allowed to use space in variable names.

In [8]:
a result = 20

SyntaxError: invalid syntax (<ipython-input-8-1435c92e22df>, line 1)

There are two syntax rules we must follow when we declare our variables: <br>
1) Only letters, numbers, or underscores (we can't use apostrophes, hyphens, whitespace characters, etc.) can be used. <br>
2) Variable names cannot start with a number.<br>

For example, errors will occur if we pick any of the following variable names:

In [9]:
1_result = 2
new result = 3
sister's_vacation_day = 23
old-result = 20
price_in_$ = 20

SyntaxError: invalid token (<ipython-input-9-81fe90c7b287>, line 1)

All variable names are case sensitive, notice that result is different from a variable named Result:

In [10]:
result = 20
Result = 30
print(result)
print(Result)

20
30

## 4. Updating Variables

The value saved in a variable can be changed or updated.
For example, in the code below we have first stored 2 in the variable result and then we update result to store 20 instead.

In [11]:
result = 2
print(result)
print(result + 1)

result = 20
print(result)

result = result + 10
print(result)

2
3
20
30

Pay attention to the code above:
- The variable result initially only stores a value of 2
- `result + 1` equals to 3 because `result` restores a value of 2 --- so `result + 1` becomes 2 + 1
- when we run `result = result + 10`, `result` is updated to store of value of `result + 10`, which is 30. It is the same as running `result = 20 + 10` because `result` has a value of 20.
`print(result)` outputs 30 after we executed result = result + 10.
Now let's have a little practice with variables.


### Task 1.2.4:
1.  Update the variable income by adding 5000 to its current value.
2.  Print income

In [12]:
income = 2000

# Start your code below:

income = income + 5000
print(income)

7000

**Pay attention to how we updated the variable, for example, by using x = x + 1. It is different than what we normally follows in mathematics. x = x +1 would be a false statement because x can never be equal to x + 1.** This means that the = operator sign in python or in any programming language in general doesn't have the same meaning as it does in mathematics.

**In Python, the = operator means assignment**: the value on the right is assigned to the variable on the left, just like how we name our variable. It doesn't mean equality. We call = an assignment operator, and we read code like x = 2 as "two is assigned to x" or "x is assigned two," but not "x equals two."

By the way, Python offers a shortcut for inplace operations +=, -=, /= and *=

In [13]:
x = 10
print(x)

x += 1    # is equivalent to x = x + 1
print(x)

10
11

## 5. Types of Values
We have only worked with integers so far, of course we can also work with decimal numbers in Python. To understand what type of numbers or even values you are working with in Python, we can simply use the `type()` command to see the type of a value. For example:

In [14]:
print(type(10))
print(type(10.))
print(type(10.0))
print(type(2.5))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

We see that Python distinguishes integers and decimal numbers since the integer 10 has the <b> int </b> type and the decimal numbers 10., 10.0, and 2.5 have the <b> float</b> type. All integers have the <b> int </b> type, and numbers that has a decimal point have the <b> float </b>type. 

Even though these numbers are classified into different <b> types</b> or have different <b> data types </b>, we can still perform arithmetical operations with them. For example, we can still add an <b> int </b> data type to a <b> float </b> data type.

In [15]:
print(10 + 10.0)
print(2.5 * 5)

20.0
12.5

### Task 1.2.5:
1. Assign a value of 10 to a variable named `value_1` <br>
2. Assign a value of 20.5 to a variable named `value_2` <br>
3. Update the value of `value_1` by adding 2.5 to its current value. Try to use the syntax shortcut like += operator. <br>
4. Update the value of `value_2` by multiplying its current value by 5. Try to use the syntax shorcut like *= operator. <br>
5. Print the result of `value_1` and `value_2` by using `print()` command. <br>

In [16]:
#Start your code below:

value_1 = 10
value_2 = 20.5
value_1 += 2.5
value_2 *= 5
print(value_1)
print(value_2)

12.5
102.5

## 6. Conversion

Is it possible to convert one type of value to another type of value? Totally! For example, <b> float()</b> command is used to convert an integer to a float and  <b>int()  </b>command is to convert a float to an integer.

In [17]:
float(10)

10.0

In [1]:
int(2.6)

2

Pay attention to the `int()` command and notice that 2.6 is rounded down to a 2. The `int()` command will always round a float value down, even if the number after the decimal point is greater than five.

However, we can also use `round()` command to properly round off a number, which follows the normal rounding rule.

In [19]:
round(2.3)

2

In [20]:
round(2.5)

2

In [21]:
round(2.99)

3

It is possible and often encouraged to combine commands. For example, we can use `round()` inside a `print()` command. Notice the different output printed on the screen between a simple `round()` command and `print(round())`.

In [22]:
print(round(2.3))
print(round(2.5))
print(round(2.99))

2
2
3

In [23]:
round(2.3)
round(2.5)
round(2.99)

3

Another detail to pay attention to is that `round()` command doesn't change the value stored by a variable.

In [4]:
variable_1 = 2.5
print(round(variable_1))
print(variable_1)

2
2.5

However, if we assign the rounded value back to the variable, we are able to change the value stored in the variable.

In [3]:
variable_1 = round(2.5)
print(variable_1)

2

### Task 1.2.6:
1. Assign a value of 11.2 to a variable named `value_1` <br>
2. Assign a value of 2.5 to a variable named `value_2` <br>
3. Round the value of `value_1` by using the `round()` command and assign the rounded value back to `value_1` <br>
4. Convert the value of `value_2` from a float to an integer value using the `int()` command and assign the value back to `value_2` <br>
5. Print the result of `value_1` and `value_2` by using the `print()` command. <br>

In [26]:
# Start your code below:

value_1 = 11.2
value_2 = 2.5
value_1 = round(value_1)
value_2 = int(value_2)
print(value_1)
print(value_2)

11
2

## 7. Strings

Up till now, we have only worked with <b> int </b> and <b> float</b> values. But in computer programming there are many more types of values. 
Take a look at the table down below:


| Track_name |  Price |  Currency |  Rating_count_total | User_rating|
|------------|:------:|----------:|---------------------:|-----------:|
| Facebook | 0.0 | USD | 2974676 | 3.5|
| Instagram |    0.0  |   USD |2161558 |4.5|
| Clash of Clans | 0.0|    USD | 2130805 |4.5|
| Temple Run |    0.0  |   USD |1724546 |4.5|
| Pandora - Music & Radio | 0.0|    USD | 1126879 |4.5|

Data Source:  [Mobile App Store Data Set (Ramanathan Perumal)](https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps)</p>

As we can see that the columns <b> track_name</b> and <b> currency </b> consist of text and not numbers. In Python, we can create text by using the quotation marks (" "):

In [27]:
app_name = "Instagram"
currency = "USD"

print(app_name)
print(currency)

Instagram
USD

Both double quotation marks (" ") and single quotation mark (' ') are allowed in the Python syntax.
To create the word "Instagram", we can use either "Instagram", or 'Instagram'. The values surrounded by quotation marks are called strings and are represented in Python by the <b>str</b> type.

In [28]:
type('Instagram')

str

However, strings are not only limited to letters. It is also possible to use numbers, space, or other characters. See example below:

In [1]:
bank = 'My Bank'
number = 'number is 123456789'

print(bank)
print(number)

My Bank
number is 123456789

### Task 1.2.7:
1. Assign the string `"Instagram"` to a variable named `app_name`. <br>
2. Assign  the string  `"4.5"` to a variable named `average_rating`. <br>
3. Assign the string `"2161158"` to a variable named `total_ratings`. <br>
4. Assign the string `"data"` to a variable named `value`. <br>
5. Display `app_name` variable using `print()` command. <br>

In [5]:
# Start your code below:

app_name = "Instagram"
average_rating = 4.5
total_ratings = 2161158
value = "data"
print(app_name)

Instagram